<div class="relative flex flex-col min-w-0 mt-6 break-words transition-all duration-200 ease-out bg-white border-0 border-transparent shadow-xl dark:bg-slate-850 dark:shadow-dark-xl transform3d hover:transform3d-hover rounded-2xl bg-clip-border">
  <div class="flex-auto p-6">
    <div class="flex">
      <p class="my-auto dark:text-white dark:opacity-60">Messages</p>
      <div class="ml-auto">
        <a 
          *ngFor="let message of data.messages; let i = index; trackBy: trackByMessage"
          href="javascript:;" 
          class="relative z-20 inline-flex items-center justify-center text-sm text-white transition-all duration-200 ease-in-out border-0 rounded-full h-9 w-9 hover:z-30" 
          [class.-ml-4]="i > 0"
          [attr.data-target]="'tooltip_trigger_' + i">
          <img class="w-full rounded-full" [src]="message.image" alt="Image placeholder" />
        </a>
        <div 
          *ngFor="let message of data.messages; let i = index; trackBy: trackByMessage"
          data-target="tooltip" 
          [id]="'tooltip_' + i"
          class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" 
          data-popper-placement="top">
          {{message.tooltip}}
          <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
        </div>
      </div>
    </div>
  </div>
</div> 