<footer [class]="footerClasses()">
  <div [class]="containerClasses()">
    <div [class]="wrapperClasses()">
      <!-- Copyright section -->
      <div [class]="copyrightContainerClasses()" *ngIf="data.copyright.enabled">
        <div [class]="copyrightTextClasses()">
          ©
          {{ data.copyright.year || getCurrentYear() }},
          {{ data.copyright.text }} <i class=></i> by
          <a 
            [href]="data.copyright.brandUrl" 
            [class]="brandLinkClasses()" 
            target="_blank">
            {{ data.copyright.brandName }}
          </a>
          for a better web.
        </div>
      </div>
      
      <!-- Links section -->
      <div [class]="linksContainerClasses()" *ngIf="data.links.length > 0">
        <ul [class]="linksListClasses()">
          <li 
            [class]="linkItemClasses()" 
            *ngFor="let link of data.links; let last = last">
            <a 
              [href]="link.url" 
              [class]="linkClasses(last)"
              [target]="link.target || '_self'">
              {{ link.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> 