<div class="absolute top-0 left-0 flex flex-col visible w-full h-auto min-w-0 p-4 break-words bg-white border-0 shadow-xl opacity-100 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <h5 class="font-bold dark:text-white">Pricing</h5>
  <div>
    <div class="flex flex-wrap mt-4 -mx-3">
      <div class="w-3/12 max-w-full px-3 flex-0">
        <label class="mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="Price">{{ data.price.label }}</label>
        <input 
          type="text" 
          name="Price" 
          [value]="data.price.value"
          [placeholder]="data.price.placeholder"
          (input)="onPriceChange($event)"
          class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
      </div>
      <div class="w-4/12 max-w-full px-3 flex-0">
        <label class="mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="choices-currency">{{ data.currency.label }}</label>
        <select 
          name="choices-currency" 
          choices-select
          (change)="onCurrencyChange($event)">
          <option 
            *ngFor="let currency of data.currency.options" 
            [value]="currency.value"
            [selected]="currency.selected">
            {{ currency.label }}
          </option>
        </select>
      </div>
      <div class="w-5/12 max-w-full px-3 flex-0">
        <label class="mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="SKU">{{ data.sku.label }}</label>
        <input 
          type="text" 
          name="SKU" 
          [value]="data.sku.value"
          [placeholder]="data.sku.placeholder"
          (input)="onSkuChange($event)"
          class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
      </div>
    </div>
    <div class="flex flex-wrap mt-4 -mx-3">
      <div class="w-full max-w-full px-3 flex-0">
        <label class="mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="Tags">{{ data.tags.label }}</label>
        <input 
          choice 
          name="Tags" 
          id="choices-multiple-remove-button" 
          type="text" 
          [value]="data.tags.value"
          [placeholder]="data.tags.placeholder"
          (input)="onTagsChange($event)" />
      </div>
    </div>
    <div class="flex mt-6">
      <button 
        type="button" 
        (click)="onPrev()"
        class="inline-block px-5 py-2.5 mb-0 text-sm font-bold text-right align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs bg-gradient-to-tl from-slate-600 to-slate-300 leading-normal tracking-tight-rem bg-150 bg-x-25 text-white">
        Prev
      </button>
      <button 
        type="button" 
        (click)="onSend()"
        class="inline-block px-5 py-2.5 mb-0 ml-auto text-sm font-bold text-right text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 bg-gradient-to-tl from-zinc-800 to-zinc-700 leading-normal tracking-tight-rem bg-150 bg-x-25">
        Send
      </button>
    </div>
  </div>
</div> 