<h6 class="mb-4 dark:text-white">{{ data.title }}</h6>
<div class="relative flex flex-row items-center flex-auto min-w-0 p-6 break-words bg-transparent border border-solid shadow-none rounded-xl border-slate-100 bg-clip-border dark:border-slate-700">
  <img class="mb-0 mr-4 w-1/10" [src]="data.cardLogo" [alt]="data.cardType" />
  <h6 class="mb-0 dark:text-white">{{ data.cardNumber }}</h6>
  <button type="button" class="active:shadow-xs active:opacity-85 ease-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 ml-auto flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none">
    <i class="fas fa-info text-3xs" aria-hidden="true"></i>
  </button>
</div> 