<div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
    <h6 class="mb-0 dark:text-white">Billing Information</h6>
  </div>
  <div class="flex-auto p-4 pt-6">
    <ul class="flex flex-col pl-0 mb-0 rounded-lg">
      <li *ngFor="let info of data.billingInfo; trackBy: trackByBillingInfo; let last = last" 
          class="relative flex p-6 mb-2 border-0 rounded-xl bg-gray-50 dark:bg-transparent"
          [class.rounded-t-inherit]="info.id === 1"
          [class.rounded-b-inherit]="last"
          [class.mt-4]="info.id > 1">
        <div class="flex flex-col">
          <h6 class="mb-4 text-sm leading-normal dark:text-white">{{info.name}}</h6>
          <span class="mb-2 text-xs leading-tight">Company Name: <span class="font-semibold text-slate-700 dark:text-white sm:ml-2">{{info.companyName}}</span></span>
          <span class="mb-2 text-xs leading-tight">Email Address: <span class="font-semibold text-slate-700 dark:text-white sm:ml-2">{{info.emailAddress}}</span></span>
          <span class="text-xs leading-tight">VAT Number: <span class="font-semibold text-slate-700 dark:text-white sm:ml-2">{{info.vatNumber}}</span></span>
        </div>
        <div class="ml-auto text-right">
          <a class="relative z-10 inline-block px-4 py-3 mb-0 text-sm font-bold text-center text-transparent align-middle transition-all ease-in border-0 rounded-lg shadow-none cursor-pointer leading-pro bg-150 bg-gradient-to-tl from-red-600 to-orange-600 hover:-translate-y-px active:opacity-85 bg-x-25 bg-clip-text" href="javascript:;"><i class="mr-2 far fa-trash-alt bg-150 bg-gradient-to-tl from-red-600 to-orange-600 bg-x-25 bg-clip-text"></i>Delete</a>
          <a class="inline-block px-4 py-3 mb-0 text-sm font-bold text-center align-middle transition-all ease-in bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro bg-150 hover:-translate-y-px active:opacity-85 bg-x-25 text-slate-700 dark:text-white" href="javascript:;"><i class="mr-2 leading-none fas fa-pencil-alt text-slate-700" aria-hidden="true"></i>Edit</a>
        </div>
      </li>
    </ul>
  </div>
</div> 