<div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
    <h6 class="mb-1 dark:text-white">{{ data.title }}</h6>
    <p class="mb-0 text-sm leading-normal dark:text-white/60">{{ data.subtitle }}</p>
  </div>
  <div class="flex-auto p-4">
    <label class="inline-block mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="Current password">{{ data.currentPasswordLabel }}</label>
    <div class="mb-4">
      <input type="password" name="Current password" placeholder="Current password" class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
    </div>
    <label class="inline-block mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="New password">{{ data.newPasswordLabel }}</label>
    <div class="mb-4">
      <input type="password" name="New password" placeholder="New password" class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
    </div>
    <label class="inline-block mb-2 ml-1 text-xs font-bold text-slate-700 dark:text-white/80" for="Confirm password">{{ data.confirmPasswordLabel }}</label>
    <div class="mb-4">
      <input type="password" name="Confirm password" placeholder="Confirm password" class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
    </div>
    <button type="button" href="javascript:;" class="inline-block w-full px-5 py-2.5 mb-0 text-sm font-bold text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 bg-gradient-to-tl from-zinc-800 to-zinc-700 leading-normal tracking-tight-rem bg-150 bg-x-25">{{ data.buttonText }}</button>
  </div>
</div> 