<div class="relative flex flex-col min-w-0 overflow-hidden break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
    <div class="flex items-center">
      <div class="inline-block w-12 h-12 text-center text-black bg-center rounded-lg shadow-2xl fill-current {{ data.iconBackground || 'bg-gradient-to-tl from-blue-700 to-cyan-500' }} stroke-none">
        <i class="ni leading-none {{ data.icon }} text-lg relative top-3.5 {{ data.iconColor || 'text-white' }}"></i>
      </div>
      <div class="ml-4">
        <p class="mb-0 text-sm font-semibold leading-normal capitalize {{ data.titleColor || 'text-slate-700' }}">{{ data.title }}</p>
        <h5 class="mb-0 font-bold {{ data.valueColor || 'text-slate-700' }} dark:text-white">{{ data.value }}</h5>
      </div>
      <div class="w-1/4 ml-auto">
        <div>
          <div>
            <span class="text-xs font-semibold leading-tight {{ data.percentageColor || 'text-slate-400' }}">{{ data.percentage }}</span>
          </div>
        </div>
        <div class="flex h-2 overflow-visible text-xs bg-gray-200 rounded-lg">
          <div class="flex flex-col justify-center {{ data.progressValue }} h-2 -ml-px overflow-hidden text-center text-white transition-width duration-600 ease rounded-1 {{ data.progressColor || 'bg-gradient-to-tl from-blue-700 to-cyan-500' }} whitespace-nowrap"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-auto p-0 mt-4">
    <div>
      <canvas id="chart-line-projects" height="100"></canvas>
    </div>
  </div>
</div> 