<div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="pb-0 border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6">
    <div class="flex">
      <p>{{ data.title }}</p>
      <div class="ml-auto">
        <span class="py-1.5 px-2.5 text-xs rounded-1.8 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none" [ngClass]="data.badge.color">{{ data.badge.text }}</span>
      </div>
    </div>
  </div>
  <div class="flex-auto p-6 pt-0">
    <p class="mb-0">{{ data.description }}</p>
  </div>
</div> 