<div class="relative z-0 flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6">
          <h3>{{ data.title }}</h3>
          <p class="mb-0">{{ data.subtitle }}</p>
        </div>
        <div class="flex-auto p-6 pt-0 text-center">
          <form role="form" class="text-left">
            <div class="mb-4">
              <label class="inline-block mb-2 ml-1 text-xs font-bold text-slate-700">{{ data.email.label }}</label>
              <input type="email" 
                     class="text-sm focus:shadow-primary-outline dark:bg-slate-850 placeholder:text-gray-500 dark:placeholder:text-white/80 dark:text-white/80 leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
                     [placeholder]="data.email.placeholder" 
                     aria-label="Email" 
                     aria-describedby="email-addon" />
            </div>
            <div class="mb-4">
              <label class="inline-block mb-2 ml-1 text-xs font-bold text-slate-700">{{ data.password.label }}</label>
              <input type="password" 
                     class="text-sm focus:shadow-primary-outline dark:bg-slate-850 placeholder:text-gray-500 dark:placeholder:text-white/80 dark:text-white/80 leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
                     [placeholder]="data.password.placeholder" 
                     aria-label="Password" 
                     aria-describedby="password-addon" />
            </div>
            <div class="min-h-6 mb-0.5 flex items-center pl-12 text-left">
              <input id="rememberMe" 
                     class="mt-0.5 rounded-10 duration-250 ease-in-out after:rounded-circle after:shadow-2xl after:duration-250 checked:after:translate-x-5.3 h-5 relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-blue-500/95 checked:bg-blue-500/95 checked:bg-none checked:bg-right" 
                     type="checkbox" 
                     [checked]="data.rememberMe.checked" />
              <label class="ml-2 text-sm font-normal cursor-pointer select-none text-slate-700" for="rememberMe">{{ data.rememberMe.label }}</label>
            </div>
            <div class="mb-4 text-center">
              <button type="button" 
                      class="inline-block w-full px-5 py-2.5 mt-6 mb-2 text-sm font-bold text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px hover:shadow-xs leading-normal tracking-tight-rem bg-150 bg-x-25 bg-blue-500 active:-translate-y-px active:text-black hover:active:text-white">
                {{ data.signInButton.text }}
              </button>
            </div>
            <div class="border-black/12.5 rounded-b-2xl border-t-0 border-solid p-6 text-center py-0 px-1 sm:px-6">
              <p class="mx-auto mb-4 text-sm font-normal">
                {{ data.signUpLink.text }} 
                <a [href]="data.signUpLink.url" class="font-semibold text-transparent bg-clip-text bg-gradient-to-tl from-blue-500 to-violet-500">
                  {{ data.signUpLink.linkText }}
                </a>
              </p>
            </div>
          </form>
        </div>
      </div> 