<div class="border-black/12.5 dark:shadow-dark-xl shadow-xl dark:bg-slate-850 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
  <div class="flex-auto p-6 text-center">
    <h1 class="relative z-10 text-transparent bg-gradient-to-tl {{ data.gradient || 'from-blue-500 to-violet-500' }} bg-clip-text">
      <span>{{ data.value }}</span> 
      <span class="{{ getSpacing() }} text-lg">{{ data.unit }}</span>
    </h1>
    <h6 class="mb-0 font-bold dark:text-white">{{ data.title }}</h6>
    <p class="mb-0 text-sm leading-normal opacity-80">{{ data.description }}</p>
  </div>
</div> 