<button 
  type="button" 
  (click)="onSaveClick()"
  class="inline-block px-5 py-2.5 mt-2 active:-translate-y-px mb-0 mr-auto text-sm font-bold leading-normal text-center border-white/75 border text-white align-middle transition-all ease-in border-solid rounded-lg cursor-pointer lg:ml-auto lg:mr-0 lg:mt-0 hover:-translate-y-px active:opacity-85 bg-white/10 tracking-tight-rem bg-150 bg-x-25 hover:text-white hover:bg-transparent hover:opacity-75 hover:border-white hover:active:text-white hover:active:bg-transparent hover:active:opacity-75 hover:active:border-white active:bg-white active:text-black">
  Save
</button> 