<!-- Page Layout with Navbar and Footer -->
<div class="m-0 font-sans text-base antialiased font-normal text-left leading-default dark:bg-slate-950 bg-gray-50 text-slate-500 dark:bg-slate-900 dark:text-white min-h-screen w-full overflow-x-hidden">

  <!-- Main Content Area with Background -->
  <main class="mt-0 transition-all duration-200 ease-in-out relative">
    <!-- Navbar positioned absolutely over the background -->
    <app-secondary-navbar *ngIf="navbarData$ | async as navbarData" [data]="navbarData" theme="transparent" mode="auth" class="absolute top-0 left-0 right-0 z-30"></app-secondary-navbar>
    <div class="pb-40 pt-24 m-4 min-h-50-screen items-start rounded-xl p-0 relative overflow-hidden flex bg-cover bg-center bg-[url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-cover.jpg')]">
      <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover opacity-60 bg-gradient-to-tl from-zinc-800 to-zinc-700"></span>
      
      <div class="container z-1">
        <div class="flex flex-wrap justify-center -mx-3">
          <div class="w-full max-w-full px-5 mx-auto text-center shrink-0 lg:flex-0 lg:w-5/12">
            <h1 class="mt-12 mb-2 text-white">Welcome!</h1>
            <p class="text-white">Use these awesome forms to login or create new account in your project for free.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-3 -mt-48 lg:-mt-36 md:-mt-56">
        <div class="w-full max-w-full px-6 mx-auto shrink-0 md:flex-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
          <!-- Formulario de Sign In -->
          <app-sign-in-form *ngIf="formData$ | async as formData" [data]="formData"></app-sign-in-form>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <app-secondary-footer></app-secondary-footer>

</div> 