<div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
  <div class="flex items-center justify-between">
    <div>
      <h6 class="dark:text-white">Order Details</h6>
      <p class="mb-0 text-sm leading-normal">
        Order no.
        <b>{{ data.orderNumber }}</b>
        from
        <b>{{ data.orderDate }}</b>
      </p>
      <p class="text-sm leading-normal">
        Code:
        <b>{{ data.code }}</b>
      </p>
    </div>
    <a href="javascript:;" class="inline-block px-5 py-2.5 mb-0 ml-auto text-sm font-bold leading-normal text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs bg-gradient-to-tl from-slate-600 to-slate-300 tracking-tight-rem bg-150 bg-x-25">Invoice</a>
  </div>
</div> 