<div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl lg:py-4 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-6 text-center">
    <h4 class="mb-0 font-bold">{{ data.user.name }}</h4>
    <p class="mb-6">{{ data.user.description }}</p>
    <form role="form">
      <!-- Password Field -->
      <div class="mb-4">
        <input 
          [type]="data.password.type" 
          [placeholder]="data.password.placeholder" 
          class="focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" 
          [(ngModel)]="password"
          name="password"
          aria-label="Password" 
          aria-describedby="password-addon" 
        />
      </div>
      <!-- Unlock Button -->
      <div class="text-center">
        <button 
          type="button" 
          class="inline-block px-16 py-3.5 w-full font-bold text-center text-white align-middle transition-all border-0 rounded-lg cursor-pointer hover:-translate-y-px active:-translate-y-px hover:shadow-xs dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 bg-gradient-to-tl from-zinc-800 to-zinc-700 leading-pro text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25"
          (click)="onUnlock()"
        >
          {{ data.unlockButton.text }}
        </button>
      </div>
    </form>
  </div>
</div> 