<h6 class="mt-6 mb-4 dark:text-white">{{ data.title }}</h6>
<ul class="flex flex-col pl-0 mb-0 rounded-lg">
  <li class="relative flex p-6 mb-2 rounded-xl bg-gray-50 dark:bg-slate-800 text-inherit">
    <div class="flex flex-col">
      <h6 class="mb-4 text-sm leading-normal dark:text-white">{{ data.name }}</h6>
      <span class="mb-2 text-xs leading-tight">
        Company Name:
        <span class="ml-2 font-semibold text-slate-700 dark:text-white/70">{{ data.companyName }}</span>
      </span>
      <span class="mb-2 text-xs leading-tight">
        Email Address:
        <span class="ml-2 font-semibold text-slate-700 dark:text-white/70">{{ data.emailAddress }}</span>
      </span>
      <span class="text-xs leading-tight">
        VAT Number:
        <span class="ml-2 font-semibold text-slate-700 dark:text-white/70">{{ data.vatNumber }}</span>
      </span>
    </div>
  </li>
</ul> 